<div>
  <app-navbar />
  <div class="bg-white sm:bg-gray-50 flex justify-center items-center">
    <div class="w-1/2">
      <img class="login-img" src="../../../../../assets/img/engine-portrait.webp">
    </div>
    <div class="flex w-1/2 login-form items-center">
      <form [formGroup]="loginForm" class="space-y-4 w-full">
        <span>Inicia sesión</span>
        <div class="relative">
          <label>Email o nombre de usuario</label>
          <input #email formControlName="email" placeholder="Enter your email" type="email"
            class="w-full rounded bg-gray-100 border-2 border-gray-300">
        </div>
        <div class="relative">
          <label>Contraseña</label>
          <input #pass formControlName="password" placeholder="Enter password" type="password"
            class="w-full rounded bg-gray-100 border-2 border-gray-200">
          <button type="button" data-hs-toggle-password='{
          "target": "#hs-toggle-password"
        }' class="absolute end-0 2rounded-e-md">
            <fa-icon [icon]="faEye"></fa-icon>
          </button>
        </div>
        <div class="w-full">
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" formControlName="rememberMe" class="sr-only peer">
            <div
              class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
            </div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Recuerdame</span>
          </label>
        </div>
        <div>
          <button type="button"
            class="w-full focus:outline-none text-black bg-primary-400 hover:bg-primary-500 rounded-lg px-5 py-2.5" (click)="login()">INICIAR
            SESIÓN</button>
          <label>¿Olvidaste tu contraseña?</label>
        </div>
        <div class="flex items-center space-x-5">
          <label>¿No tienes una cuenta?</label>
          <button class="text-white bg-black rounded-lg px-5 py-1" type="button">REGISTRARSE</button>
        </div>
        <div>
          <label class="">Inicia sesión con tus redes sociales</label>
        <div class="flex space-x-5">
          <button
            class="py-3 px-4 w-full font-medium rounded text-sm bg-white border border-gray-400 inline-flex items-center justify-center">
            <img class="h-5" src="/assets/img/google.png">
          </button>
          <button
            class="py-3 px-4 w-full font-medium rounded text-sm bg-white border border-gray-400 inline-flex items-center justify-center">
            <img class="h-5" src="/assets/img/facebook.png">
          </button>
          <button
            class="py-3 px-4 w-full font-medium rounded text-sm bg-white border border-gray-400 inline-flex items-center justify-center">
            <img class="h-5" src="/assets/img/apple.png">
          </button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
