@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F9F9FB;
}

.logo {
  width: 89px;
  height: 36px;
  display: block;
  margin-top: 10px;
}

.topbar {
  height: 136px;
}

.topbar-row {
  height: 68px;
}

.login-img {
  width: 651px;
  height: 814px;
  border-radius: 2%;
  background-image: url('assets/img/engine-portrait.webp');
  background-repeat: round;
}

.login-form {
  height: 595px;
  width: 482px;
}

.topbar-login {
  background-color: #d8ff00;
}

.search-box {
  width: 590px;
}

a {
  cursor: pointer;
}

.home-promotions {
  height: 490px;
  img {
    width: 100%;
    height: inherit;
  }
}

.product-img {
  height: 130px;
  width: 130px;
}

.product-card {
  height: 300px;
  width: 256px;
}

.category-card {
  height: 300px;
  width: 256px;
}

.filters-container {
  width: 256px;
}

.register-form {
  width: 650px;
  label {
    font-weight: 500;
  }
}

.facebook {
  background-image: url('assets/img/facebook.png');
  background-repeat: round;
}

.google{
  background-image: url('assets/img/google.png');
  background-repeat: round;
}

.apple {
  background-image: url('assets/img/apple.png');
  background-repeat: round;
}

.promotion {
  background-image: url('assets/img/promo.png');
  background-repeat: round;
}

.logo-img {
  background-image: url('assets/img/logo.svg');
  background-repeat: round;
}

@media (max-width: 640px) {
  .register-form {
    width: 100%;
  }

  .home-promotions {
    height: auto;
  }

  .product-card {
    height: 171px;
    width: 171px;
  }

  .product-img {
    height: 86px;
    width: 84px;
  }

  .category-card {
    height: 180px;
    width: 171px;
  }

  .category-img {
    height: 110px;
    width: 110px;
  }

  .search-box {
    width: 250px;
    margin-left: 20px;
  }

  .filters-container {
    width: 100%;
  }
}
